
<h1>Transactions</h1>


<ul class="list-group">
    <% @transactions.each do |transaction| %>
    <%= link_to transaction_path(transaction), class:"text-decoration-none" do %>
    <li class="list-group-item mb-2">
    <div class='row'>

    <div class='col-3 p-0'>
    <%= icon('far', transaction.group.avatar, class: 'fa-5x' ) %>
    </div>
    <div class='col-7'>
    <h6><%= transaction.name %></h6>
    <span><%= transaction.created_at %></span>
    </div>
    <div class='col-2 p-0 align-self-center'>
    <p class="text-center"><%= transaction.amount %>$</p>
    </div>
        </div>
    </li>
    <% end %>
    <br>
    <% end %>
</ul>

<%= link_to new_transaction_path, class:"text-decoration-none" do %>
<footer class="footer fixed-bottom create-btn py-3">
      <div class="container d-flex align-items-center justify-content-center">
        <p class="text-white fw-bolder fs-2"> Create New Transaction </p>
      </div>
</footer>
<% end %>