

<ul class="list-group mt-5">
    <li class="list-group-item">
    <div class='row py-4 gx-1'>
    <div class='col-3 p-0'>
     <% unless @transaction.group_id.nil? %>
    <%= icon('far', @transaction.group.avatar, class: 'fa-5x i-color' ) %>
    <% end %>
    </div>
    <div class='col-7 d-flex flex-column justify-content-between p-0'>
    <p class="fs-3 mt-1 fw-bold"><%= @transaction.name %></p>
    <small class="text-muted"><%= @transaction.created_at.strftime("%a, %e %b %Y") %></small>
    </div>
    <div class='col-2 p-0 align-self-center'>
    <p class="text-center price-color fs-4 fw-bolder"><%= @transaction.amount %>$</p>
    </div>
        </div>
    </li>
</ul>
<% if @transaction.user == current_user %>
<div class='row d-flex justify-content-evenly mx-0 mt-4'>
<%= link_to 'Edit', edit_transaction_path(@transaction), class:"btn edit-btn" %>
<%= link_to 'Destroy', transaction_path, class:"btn destroy-btn", method: :delete, data: { confirm: 'Are you sure?' }%>
</div>
<% else %>
<div class='row d-flex justify-content-center mx-0 mt-5'>
<p class="i-color text-center fs-3 text-bold">Created By:  <%= @transaction.user.name %></p>
</div>
<% end %>
 <%= link_to transactions_path, class:"text-decoration-none" do %>
<footer class="footer fixed-bottom back-btn py-3">
      <div class="container d-flex align-items-center justify-content-center">
        <p class="text-white fw-bolder fs-2"> Back to Transactions </p>
      </div>
</footer>
<% end %>